<p>Hey {{ name }},</p>
<p></p>
<p>bitte klicke den Link unten, um dein neues Passwort zu bestätigen:</p>
<p>
    <a href="{{ url }}">Bestätigen</a>
</p>
<br>
<p>Viele Grüße,</p>
<p>REVAX Team</p>
<br><br>
<p>Wenn du kein neues Passwort angefordert haben solltest, dann kannst du diese E-Mail einfach ignorieren.</p>